:root {
    --green: #97AF8F;
    --dark-green: #6b7e63;
    --gray: #E2E3EF;
    --blue: #334551;
    --yellow: #EEB858;
    --dark-yellow: #d3a24c;
}

* {
    font-family: "Manrope";
}

body {
    font-size: 16px;
    background-color: #f8f9fa;
}

.text-sm {
    font-size: 0.75rem;
}


.bg-green {
    background-color: var(--green);
}

.bg-green:hover,
.bg-green:active {
    background-color: var(--dark-green) !important;
}

.text-green {
    color: var(--green);
}

.text-blue {
    color: var(--blue);
}

.border-green {
    border-color: var(--green) !important;
}

.bg-gray {
    background-color: var(--gray);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-yellow:hover,
.bg-yellow:active,
.bg-yellow:focus {
    background-color: var(--dark-yellow) !important;
    border: 0 !important;

}

.site-header {
    background-image: url('../imgs/banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.site-header-contact {
    background-image: url('../imgs/banner-pic.png');
    background-size: cover;
    background-position: center;
    background-color: var(--blue);
    height: 40vh;
}

@media screen and (max-width: 768px) {
    .orderm-2 {
        order: 2;
    }

    .orderm-3 {
        order: 3;
    }

    .site-header {
        background-image: url('../imgs/banner-pic.png');
    }
}